@use '../mixins/hover.scss' as *;

.card__button {
  display: flex;
  width: 17.4375rem;
  height: 2.8125rem;
  background-color: #333333;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  @include hover {
    background-color: #c4f82a;
    color: #333333;
  }
}
